button {
  font-family: "Poppins", sans-serif;
}

.btn {
  display: block;
  width: 100%;
  background: #dedede;
  border: none;
  padding: 12px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background: #143556;
  color: #fff;
  margin-bottom: 8px;
}
.btn-primary:hover {
  background: #081c31;
}

.btn-secondary {
  background: #AA8211;
  color: #fff;
  margin-bottom: 6px;
}

.btn-primaryghost {
  border: 1px solid #143556;
  background: rgba(20, 53, 86, 0);
  color: #143556;
}
.btn-primaryghost:hover {
  background: #143556;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

.Header {
  width: 100%;
  background: #28466F;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.HeaderContent {
  max-width: 1200px;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Header img {
  height: 60px;
}

.HeaderActions {
  display: flex;
}

.MenuItem {
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

.bgcardstyle {
  background-size: cover;
  background-position: center;
}

.bgcardstyle:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #143556;
  opacity: 0.8;
}

.bgcard__content {
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AvatarHeader .ChatAvatarPic {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.bgcardstyle {
  position: relative;
}

.bg-gradient-theme.card {
  border: none !important;
  background: #fff !important;
}

.Footer {
  width: 100%;
}

.FooterContent {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding: 10px;
}

.FooterCopywrite {
  font-size: 12px;
  color: #666;
}

.MainLoginContainer {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 600px;
}
.MainLoginContainer:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #fff, #eee);
  z-index: -1;
}

.LoginContainer {
  width: 24vw;
  min-width: 300px;
}

.LoginLogo {
  height: 160px;
}

.LoginTitle {
  text-align: center;
}

.LoginContent {
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  padding: 40px 40px 60px;
}

.LoginContent h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form-btns {
  margin-top: 20px;
}

.form-group label {
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px 5px;
  height: 40px;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  box-shadow: 0 0 4px rgba(255, 0, 0, 0);
  border: 1px solid #999;
}

.has-error input {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
  border-color: rgba(222, 7, 7, 0.4);
}

.help-block {
  font-size: 12px;
  color: #999;
  display: inline-block;
  margin-left: 10px;
}

.LoginError {
  background: #ffcbcb;
  border: 1px solid #e97c7c;
  padding: 10px;
  margin-top: 10px;
}

.logincolbg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.logincolbg:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #143556;
  opacity: 0.8;
}

.LoginTitle {
  z-index: 10;
  color: #fff;
}

.loginformcol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginformcol__content {
  flex: 1;
  max-width: 400px;
}

.MainContainer {
  background: #fff;
  display: flex;
  height: 100vh;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.ChatContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  max-height: calc(100vh - 180px);
  margin-bottom: 20px;
  margin-top: 20px;
}

.ChatContent {
  height: 100%;
}

.ChatContent > div > div {
  height: calc(100% - 130px) !important;
}
.ChatContent > div > div > div > div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}
.ChatContent > div > div > div > div::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.ChatContent > div > div > div > div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #AA8211;
}
.ChatContent > div > div.ChatInputWrap {
  height: 100px !important;
}

.ChatAvatar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ChatAvatarPic {
  font-family: serif;
  background-color: #143556;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}

.ChatAvatarTxt {
  margin: 0 12px;
  font-size: 16px;
  font-weight: 600;
}

.ChatAvatarPicuser {
  background: #CCAA59;
}

.ChatAvatarPiclawyer {
  background: #143556;
}

.ChatBubble {
  max-width: 80%;
}

.ChatBubbleText {
  max-width: 100% !important;
}
.ChatBubbleText * {
  font-family: "Roboto", sans-serif;
}

.ChatBubbleText > div > div {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16);
  max-width: 100%;
}

.ChatBubbleright .ChatAvatar {
  flex-direction: row-reverse;
}
.ChatBubbleright .ChatBubbleText {
  margin-right: 0 !important;
}

.ChatInputWrap {
  margin-top: 30px;
}

.ChatInputWrap > div {
  height: auto !important;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 10px;
  justify-content: center;
  background: #f9f9f9;
}

.ChatInputWrap textarea {
  height: 80px;
  background: transparent;
}

.icosend {
  height: 20px;
  margin: 10px;
}

.ChatInfo {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 20px;
  padding: 20px;
  border-right: 1px solid #A4ABBD;
}

.ChatInfoBox {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.ChatInfoBoxBG {
  background: #f9f9f9;
  padding: 20px;
}

.InfoBoxBottom {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
}

.InfoLabel {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 300;
  color: #999;
}

.InfoVal {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.InfoData {
  margin-bottom: 8px;
}

.TimerTime {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

hr {
  margin: 20px 0;
  color: #eeeeee;
  border-style: solid;
}

.TimerTime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TimerTime svg {
  margin-right: 10px;
  opacity: 0.7;
}

.modaladv {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/*# sourceMappingURL=index.css.map */
