button {
    font-family: 'Poppins', sans-serif;
}
.btn {
	display: block;
	width: 100%;
	background: #dedede;
	border: none;
	padding: 12px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 14px;
	transition: all 0.2s ease-out;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
	background: #143556;
	color: #fff;
	margin-bottom: 8px;
	&:hover {
		background: #081c31;
	}
}
.btn-secondary {
	background: #AA8211;
	color: #fff;
	margin-bottom: 6px;
}
.btn-primaryghost {
	border: 1px solid rgb(20, 53, 86);
	background: rgba(20, 53, 86, 0);
	color: rgb(20, 53, 86);
    &:hover {
        background: rgba(20, 53, 86, 1);
        color: rgb(255, 255, 255);
    }
}