.MainContainer {
	background: #fff;
	display: flex;
	height: 100vh;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.ChatContainer {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 100%;
	max-width: 1200px;
	max-height: calc(100vh - 180px);
	margin-bottom: 20px;
	margin-top: 20px;
}

//Chat Messages Conteiner
.ChatContent {
	height: 100%;
}
.ChatContent > div> div {
	height: calc(100% - 130px) !important;

	& > div > div {
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: #F5F5F5;
		}
	
		&::-webkit-scrollbar {
			width: 8px;
			background-color: #F5F5F5;
		}
	
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: $secondary;
		}
	}

	&.ChatInputWrap {
		height: 100px !important;
	}
}
	
//Avatar
.ChatAvatar {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.ChatAvatarPic {
	font-family: serif;
	background-color: #143556;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
}
.ChatAvatarTxt {
	margin: 0 12px;
	font-size: 16px;
	font-weight: 600;
}
.ChatAvatarPicuser {
	background: #CCAA59;
}
.ChatAvatarPiclawyer {
	background: #143556;
}

//Bubble Text
.ChatBubble {
	max-width: 80%;
}
.ChatBubbleText {
    max-width: 100% !important;
    *{
        font-family: 'Roboto', sans-serif;
    }
}
.ChatBubbleText >div>div {
	box-shadow: 1px 2px 3px rgba(0,0,0,0.16);
	max-width: 100%;
}
.ChatBubbleright {
    .ChatAvatar {
        flex-direction: row-reverse;
    }
    .ChatBubbleText {
        margin-right: 0 !important;
    }
}

//Send Message
.ChatInputWrap {
	margin-top: 30px;
}
.ChatInputWrap > div {
	height: auto !important;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 10px;
	justify-content: center;
	background: #f9f9f9;
}
.ChatInputWrap textarea {
	height: 80px;
	background: transparent;
}
.icosend {
	height: 20px;
	margin: 10px;
}

//Chat SideBar
.ChatInfo {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-right: 20px;
	padding: 20px;
	border-right: 1px solid #A4ABBD;
}
.ChatInfoBox {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.ChatInfoBoxBG {
	background: #f9f9f9;
	padding: 20px;
}
.InfoBoxBottom {
	align-self: flex-end;
	margin-top: auto;
		margin-bottom: 0;
}


.InfoLabel {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 300;
    color: #999;
}
.InfoVal {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}
.InfoData {
    margin-bottom: 8px;
}


.TimerTime {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
hr {
    margin: 20px 0;
    color: #eeeeee;
    border-style:solid;
}


.TimerTime {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .TimerTime svg {
	margin-right: 10px;
	opacity: 0.7;
  }

  .modaladv {
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
  }