.MainLoginContainer {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 600px;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, #fff, #eee);
		z-index: -1
	}
}
.LoginContainer {
	width: 24vw;
	min-width: 300px;
}
.LoginLogo {
	height: 160px;
}
.LoginTitle {
	text-align: center;
}
.LoginContent {
	background: #fff;
	margin-top: 20px;
	border-radius: 4px;
	padding: 40px 40px 60px;
}
.LoginContent h2 {
	text-align: center;
	margin: 0 0 20px;
}
.form-btns {
	margin-top: 20px;
}
.form-group label{
	font-size: 14px;
}
.form-group input {
	width: 100%;
	padding: 10px 5px;
	height: 40px;
	box-sizing: border-box;
	transition: all 0.2s ease-out;
	box-shadow: 0 0 4px rgba(255, 0, 0, 0);
	border: 1px solid #999;
}
.has-error input {
	box-shadow: 0 0 4px rgba(255, 0, 0, 0.3);
		border-color: rgba(222, 7, 7, 0.4);
}
.help-block {
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: 10px;
}
.LoginError {
	background: #ffcbcb;
	border: 1px solid #e97c7c;
	padding: 10px;
	margin-top: 10px;
}


.logincolbg {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
  }
  .logincolbg:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: $primary;
	opacity: 0.8
  }
  
  .LoginTitle {
	z-index: 10;
	color: #fff;
  }
  
  .loginformcol {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .loginformcol__content {
	flex:1;
	max-width: 400px;
  }